    <include file="Public/header" title="后台主页" />
            
            <style>
                td 
                {
                    font-size: 14px;
                    font-weight: bold
                }

                .modal-backdrop 
                {
                    position:static;
                }
                

            </style>

            <div id="page-wrapper">

                <div class="row">
                        <div class="col-lg-12">

                                <form role="form" action="{:U('pile/edit')}" method="post">

                                        <?php
                                                if(isset($id)):
                                        ?>
                                            <input type="hidden" name="id" value="{$id}">
                                        <?php
                                                endif;
                                        ?>

                                        <div class="form-group">
                                            <label for="name">名称</label>
                                            <input type="text" class="form-control" id="name" name="pilename" value="{$info['pilename']}">
                                        </div>

                                        <div class="form-group">
                                            <label for="name">位置</label>
                                            <input type="text" class="form-control" id="name" name="positions" value="{$info['positions']}">
                                        </div>

                                        <div class="form-group">

                                                <table class="table" style="border:solid 1px #CCCCCC;">
                                                   <tbody>
                                                      <tr>
                                                         <td>经度</td>
                                                         <td>
                                                                <input type="text" class="form-control" id="lng" name="lng" value="{$info['lng']}">
                                                         </td>
                                                         
                                                         <td>纬度</td>
                                                         <td>
                                                                <input type="text" class="form-control" id="lat"  name="lat" value="{$info['lat']}">
                                                         </td>

                                                         <td style="width:20%">
														 
                                                            <span>从地图中拾取</span>
                                                            <button class="btn btn-success" data-toggle="modal" data-target="#myModal" style="float:right">
                                                                    拾取
                                                            </button>
														
                                                          </td> 

                                                      </tr>

                                                   </tbody>
                                                </table>

                                        </div>

                                        <div class="form-group">

                                            <label for="name">标注类型</label>
											<?php
													if(!isset($id)):
											?>
                                               <select id="types" class="form-control" name="type">
                                               <?php
                                                        foreach($type_list as $v):
                                               ?>
                                                    <option value="{$v['id']}"  <?php if($v['id'] == 3):?> selected <?php endif;?> >{$v['type']}</option>
                                                <?php
                                                        endforeach;
                                                ?>
                                              </select>
											  
											<?php
												else:
												
											?>
											
											    <select id="types" class="form-control" name="type">
                                               <?php
                                                        foreach($type_list as $v):
                                               ?>
                                                    <option value="{$v['id']}"  <?php if($v['id'] == $info['type']):?> selected <?php endif;?> >{$v['type']}</option>
                                                <?php
                                                        endforeach;
                                                ?>
                                                </select>
											<?php
												endif;
											?>

                                        </div>
										
										<div class="form-group" id="mul">
											<!--
											   <label class='checkbox-inline'>
												  <input type='checkbox' id='inlineCheckbox1' name='mulType[]' value='1'> 网点
											   </label>
											   <label class='checkbox-inline'>
												  <input type='checkbox' id='inlineCheckbox2' name='mulType[]' value='2'> 停车场
											   </label>
											   <label class='checkbox-inline'>
												  <input type='checkbox' id='inlineCheckbox3' name='mulType[]' value='3'> 充电桩
											   </label>
												<label class='checkbox-inline'>
												  <input type='checkbox' id='inlineCheckbox4' name='mulType[]' value='4'> 项目组充电桩
											   </label>
											  -->
										</div>

                                        <button type="submit" class="btn btn-default">提交</button>
                                </form>

                        </div>
                </div>
            </div>
			
			<style>
				.modal-content {
					top:50px;
				}
			</style>
            <!-- 模态框（Modal） -->
            <div class="modal fade" style="z-index:0" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="">
                  
                   <div class="modal-dialog" style="width:60%;">
                          
                          <div class="modal-content">
                             <div class="modal-header">
                                <button type="button" class="close" 
                                   data-dismiss="modal" aria-hidden="true">
                                      &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel" style="z-index:100000000">
                                    <span>位置坐标拾取</span>
                                    
                                    
                                    <span style="float:right;margin-right:10px;">
                                        检索:
                                        <span id="r-result"><input type="text" id="suggestId" size="20" /></span>
                                        <div id="searchResultPanel" style="position:absolute;margin-left:46px;border:1px solid #C0C0C0;width:223px;height:auto;display:none;z-index:10000000;opacity:0.5;overflow:visible"></div>
                                    </span>
                                    

                                </h4>
                             </div>

                             <div class="modal-body" id="allmap" style="width:100%;height:500px">
                                        
                             </div>

                             <div class="modal-footer">
                                <button type="button" class="btn btn-success"  data-dismiss="modal">
                                        确定
                                </button>
                                <!--
                                <button type="button" class="btn btn-primary">
                                       提交更改
                                </button>
                                -->
                             </div>

                      </div>

            </div>

    <include file="Public/footer" />
	<!--
    <div style="position:absolute;top:65px;right:120px;color:red;z-index:15000">
    检索(<span style="font-size:10px;">移动上下箭头,选择完毕之后敲击回车</span>):
        <span id="r-result"><input type="text" id="suggestId" size="20"  style="position:relative;left:-120px;"/></span>
        <div  id="searchResultPanel" style="/*position:absolute;top:80px;left:46px;*/border:1px solid #C0C0C0;width:223px;
            height:auto;display:none;opacity:0.5;overflow:visible;z-index:20000"></div>
    </div>
	-->
	
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=pSMU9ATyDa8KCUAhAonEFMhGwPGfdsrR"></script>
    
     <script>
                // 百度地图API功能
            function G(id) {
                    return document.getElementById(id);
            } 
            function setPlace(){
                        map.clearOverlays();    //清除地图上所有覆盖物
                        function myFun(){
                            var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
                            map.centerAndZoom(pp, 16);
                            map.addOverlay(new BMap.Marker(pp));    //添加标注
                        }
                        var local = new BMap.LocalSearch(map, { //智能搜索
                          onSearchComplete: myFun
                        });
                        local.search(myValue);
             }
     </script> 
    
    <script type="text/javascript">
            var a ;
            var map = new BMap.Map("allmap"); 
            //var point = new BMap.Point(120.404931,36.074572);
            //var marker = new BMap.Marker(point); 
            
			map.centerAndZoom("青岛", 16);
            map.enableScrollWheelZoom();
            
            map.addEventListener("dragend", function(){ 

                var center = map.getCenter(); 
                //alert("地图中心点变更为：" + center.lng + ", " + center.lat); 
            });
            
            map.addEventListener("click", function(e){  
                //var a = "已选取"+e.point.lng + ", " + e.point.lat; 
                //alert (a);
                $("#lng").val(e.point.lng);
                $("#lat").val(e.point.lat);
                var a = "已选取"+e.point.lng + ", " + e.point.lat; 
                alert (a);
            });

            var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
                {"input" : "suggestId"
                ,"location" : map
            });

            ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
            var str = "";
                var _value = e.fromitem.value;
                var value = "";
                if (e.fromitem.index > -1) {
                    value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
                }

                str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;
                
                value = "";
                if (e.toitem.index > -1) {
                    _value = e.toitem.value;
                    value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
                }    
                str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
                G("searchResultPanel").innerHTML = str;
            });

            var myValue;
            ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
            var _value = e.item.value;
                myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
                G("searchResultPanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;
                
                setPlace();
            });

    </script>
	
	<script>
		$(function(){
			
			var str = "";	
			<?php
				array_pop($type_list);
				foreach($type_list as $val):
			?>
				str += "<label class='checkbox-inline'>";
				str += "<input type='checkbox' id='inlineCheckbox{$val['id']}' name='mulType[]' value='{$val['id']}' <?php if(in_array($val['id'],$mulType)):?> checked <?php endif;?>> {$val['type']}";
				str += "</label>";	
			<?php
				endforeach;
			?>
			
			/*
			str += "<label class='checkbox-inline'>";
			str += "<input type='checkbox' id='inlineCheckbox1' name='mulType[]' value='1' <?php if(in_array(1,$mulType)):?> checked <?php endif;?>> 网点";
			str += "</label>";
			str += "<label class='checkbox-inline'>";
			str += "<input type='checkbox' id='inlineCheckbox2' name='mulType[]' value='2' <?php if(in_array(2,$mulType)):?> checked <?php endif;?>> 停车场";
			str += "</label>";
			str += "<label class='checkbox-inline'>";
			str += "<input type='checkbox' id='inlineCheckbox3' name='mulType[]' value='3' <?php if(in_array(3,$mulType)):?> checked <?php endif;?>> 充电桩";
			str += "</label>";
			str += "<label class='checkbox-inline'>";
			str += "<input type='checkbox' id='inlineCheckbox4' name='mulType[]' value='4' <?php if(in_array(4,$mulType)):?> checked <?php endif;?>> 项目组充电桩";
			str += "</label>";
			*/
			
			
			var id = $("#types").val();
			if(id == 5)
			{
				$("#mul").html(str);
			}
			$("#types").change(function(){
				var id = $("#types").val();
				var id = parseInt(id);
				if(id == 5)
				{
					$("#mul").html(str);
				}
				else 
				{
					$("#mul").html("");
				}
			});
		});
	</script>
    



