<ul class="nav navbar-nav side-nav">
	
	<li class="dropdown">
        <a href="{:U('pile/index')}"><i class="fa fa-file-text-o"></i> 充电桩设置</a>
    </li>	
	
	
	<li class="dropdown">
        <a href="{:U('pile/type')}"><i class="fa fa-file-text-o"></i> 标注类型设置</a>
    </li>
	
	<li class="dropdown">
        <a href="{:U('config/admin')}"><i class="fa fa-file-text-o"></i> 登录配置</a>
    </li>
	
	<li class="dropdown">
        <a href="{:U('config/index')}"><i class="fa fa-file-text-o"></i> 微信配置</a>
    </li>
	
</ul>